@tailwind base;
@tailwind components;
@tailwind utilities;

#headerUnderline {
  font-weight: bold;
}
#headerUnderline:after { 
  content:"";
  position: relative;
  float:left; 
  bottom: -30px;
  background:#ff6c00;
  width:100%; 
  height:8px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}